body {
  background-color: #F7EED8;
  background-image: url('images/forest\ farm.png');
  background-repeat: repeat;
  background-position: center top;
}

/* Style for the link container */
.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

/* Style for the links in the link container */
.link-container a {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #4CAF50;
  text-decoration: none;
}

/* Style for the links on hover */
.link-container a:hover {
  background-color: #3e8e41;
}

/* Style for the footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

/* Style for the back button in the footer */
footer a {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #4CAF50;
  text-decoration: none;
}

/* Style for the back button on hover */
footer a:hover {
  background-color: #3e8e41;
}
